<div class="demo-layout">
  <div class="row">
    <div class="sidebar col s3">
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <div class="demo-avatar-dropdown">
            <span>Master Data Mgmt<i class="material-icons right">more_vert</i></span>
          </div>
        </header>
        <div class="collection demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a (click)="onClick()" class="collection-item mdl-navigation__link" ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">description</i>Reference Table 1</a>
          <a (click)="onClick2()" class="collection-item mdl-navigation__link" ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">description</i>Reference Table 2</a>
          <a (click)="onClick3()" class="collection-item mdl-navigation__link" ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">description</i>Reference Table 3</a>
          <a (click)="onClick4()" class="collection-item mdl-navigation__link" ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">description</i>placeholder details</a>
        </div>
      </div>
    </div>
    <div class="main-content col s9 offset-s3">
      <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
       
        <main class="row">
          <div class="col s12">
            <div class="card demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
              <div class="card-content">
                <div class="row">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>