<p>Demo for any API call from placeholder</p>

<hr>
<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a (click)="onClick('posts')">posts</a></li>
            <li class="tab col s3"><a (click)="onClick('comments')">comments</a></li>
            <li class="tab col s3"><a (click)="onClick('albums')">albums</a></li>
            <li class="tab col s3"><a (click)="onClick('photos')">photos</a></li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col s4 offset-s6">
        <div *ngIf="loading" class="preloader-wrapper active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="bordered">
    <thead>
        <tr>
            <th *ngFor="let col of headers">{{col}}</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let yol of posts">
            <td *ngFor="let col of generateArray(yol)">{{col}}</td>
        </tr>
    </tbody>
</table>